/** =============================TELAINICIAL=============================== **/
.superContent {
  position: absolute;
  height: 99%;
  width: 96%;
  background-color: rgb(242, 242, 242);
}

.logo {
  position: absolute;
  height: 25%;
  width: 90%;
  left: 5%;
  top: 10%;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  animation-duration: 1s;
}
#logotipoCentral {
  position: absolute;
  width: 100%;
  height: 100%;
}

.buttonsHome {
  position: absolute;
  width: 100%;
  height: 45%;
  top: 50%;
  color: #000;
}
.buttonsHome button {
  width: 100%;
  height: 20%;
  margin-top: 5%;
  -webkit-animation-name: bounceInRight;
 animation-name: bounceInRight;
 animation-duration: 1s;
 border-radius: 12px;
 font-size: 25px;
 color: #000;
 background-color: rgb(126, 172, 29);
}
#buttonHome2 {
  animation-duration: 1.5s;
  background-color: rgb(44, 44, 44);
}
#buttonHome3 {
  animation-duration: 2s;
  background-color: rgb(81, 81, 81);
}
.linksNavigation {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;

}
/** =============================TELAINICIAL=END=========================== **/

/** =============================TELAPRINCIPAL============================== **/
.cabecalho {
  position: absolute;
  width: 100%;
  height: 10%;
  color: #FFF;
  background-color: rgb(224, 139, 0);
}

.botaoVoltarContent {
  position: absolute;
  height: 100%;
  width: 10%;
}
#linkVoltar {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0px;
}
#botaoVoltar {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 42%;
}

.localizacao {
  position: absolute;
  width: 80%;
  height: 100%;
  left: 10%;
}
#pinoDoMapa {
  position: absolute;
  height: 45%;
  width: 8%;
  top: 45%;
  left: 8%;
}
.localizacaoTexto {
  position: absolute;
  height: 90%;
  width: 80%;
  left: 20%;
  top: 0%;
  display: flex;
  align-items: flex-end;
  font-size: 18px;
}

.botaoSearchContent {
  position: absolute;
  height: 100%;
  width: 10%;
  left: 90%;
}
#botaoSearch {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
}
#lupa {
  position: absolute;
  height: 55%;
  width: 100%;
  top: 40%;
}

.imagemDaPaginaContent {
  position: absolute;
  width: 100%;
  height: 30%;
  top: 10%;
}
#imagemDaPagina {
  width: 100%;
  height: 100%;
}

.tituloContent {
  position: absolute;
  width: 100%;
  height: 10%;
  top: 40%;
  color: rgb(224, 139, 0);
}

.logoContent {
  position: absolute;
  width: 20%;
  height: 10%;
  top: 35%;
  left: 70%;
  background-color: #FFF;
  border-radius: 100%;
}
#logo {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.secao {
  position: absolute;
  width: 100%;
  height: 25%;
  top: 50%;
  background-color: #FFF;

}
.botoesSecaoContent {
  position: absolute;
  width: 100%;
  height: 30%;

}
.botaoDaSecao {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}
.imagensBotoesSecao{
  position: absolute;
  width: 100%;
  height: 100%;
}
#botaoLigar {
  position: absolute;
  width: 20%;
  height: 100%;

}
#botaoServicos {
  position: absolute;
  width: 20%;
  height: 100%;
  left: 20%;

}
#botaoEndereco {
  position: absolute;
  width: 20%;
  height: 100%;
  left: 40%;

}
#botaoComentarios {
  position: absolute;
  width: 20%;
  height: 100%;
  left: 60%;

}
#botaoFavoritos {
  position: absolute;
  width: 20%;
  height: 100%;
  left: 80%;

}
.textoSecaoContent {
  position: absolute;
  width: 100%;
  height: 70%;
  top: 30%;
  font-size: 11px;
  color: rgb(224, 139, 0);
  text-align: justify;
}
#textoDaSecao {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
}

/** =============================TELAPRINCIPAL=END========================== **/


/** ==========================ANIMATIONS==================================== **/
@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}


@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}
/** ==========================ANIMATIONS=END================================ **/
