/** =============================TELAINICIAL=============================== **/
.superContent {
  position: absolute;
  height: 99%;
  width: 96%;
  background-color: rgb(242, 242, 242);
}

.logo {
  position: absolute;
  height: 25%;
  width: 90%;
  left: 5%;
  top: 10%;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}
#logotipoCentral {
  position: absolute;
  width: 100%;
  height: 100%;
}

#TextoInicial {
  position: absolute;
  top: 38%;
  left: 12%;
  font-size: 15px;
}

.buttonsHome {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 42%;
  color: #FFF;
}
.buttonsHome button {
  width: 100%;
  height: 17%;
  margin-top: 5%;
  -webkit-animation-name: bounceInRight;
 animation-name: bounceInRight;
 -webkit-animation-duration: 1s;
 animation-duration: 1s;
 border-radius: 12px;
 font-size: 25px;
 color: #FFF;
 background-color: rgb(126, 172, 29);
}
#buttonHome2 {
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  background-color: rgb(103, 147, 16);
}
#buttonHome3 {
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  background-color: rgb(81, 81, 81);
}
#buttonHome4 {
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  background-color: rgb(44, 44, 44);
}
.linksNavigation {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
}
/** =============================TELAINICIAL=END=========================== **/

/** =============================TELAPRINCIPAL============================== **/
.superContentTelaPrincipal {
  position: absolute;
  height: 99%;
  width: 96%;
  background-color: rgba(242, 242, 242, 1);
}

/** -------------Cabeçalho da telaPrincipal------------------- **/
.cabecalho {
  position: absolute;
  width: 100%;
  height: 10%;
  color: #FFF;
  background-color: rgb(224, 139, 0);
}
.botaoVoltarContent {
  position: absolute;
  height: 100%;
  width: 10%;
}
#linkVoltar {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0px;
  z-index: 5;
}
#botaoVoltar {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 42%;
}
.localizacao {
  position: absolute;
  width: 80%;
  height: 100%;
  left: 10%;
}
#pinoDoMapa {
  position: absolute;
  height: 45%;
  width: 8%;
  top: 45%;
  left: 12%;
}
.localizacaoTexto {
  position: absolute;
  height: 90%;
  width: 80%;
  left: 25%;
  top: 0%;
  display: flex;
  align-items: flex-end;
  font-size: 18px;
}
/* IPHONE 5, 4, Nokia Lumia 520 */
@media screen and (width: 320px) {
  .localizacaoTexto {
    left: 21% !important;
    top: -5%;
    font-size: 14px !important;
  }
  #pinoDoMapa {
    left: 8%;
  }
}
/* Galaxy S5, noteS3, Note II, SIII, Nexus 5, Nokia N9 */
@media screen and (width: 360px) {
  .localizacaoTexto {
    left: 20% !important;
    top: -5%;
    font-size: 16px !important;
  }
  #pinoDoMapa {
    left: 8%;
  }
}
/* Iphone 6 */
@media screen and (width: 375px) {
  .localizacaoTexto {
    top: -8%;
    left: 23% !important;
    font-size: 16px !important;
  }
}
/* LG Optimus L70, Nexus 4*/
@media screen and (width: 384px) {
  .localizacaoTexto {
    font-size: 16px !important;
    top: -5% !important;
  }
}
/* Nexus 6 */
@media screen and (min-width: 400px) {
  .localizacaoTexto {
    font-size: 17px;
    top: -8%;
  }
}
/* Iphone 6 plus */
@media screen and (width: 414px) {
  .localizacaoTexto {
    font-size: 16px !important;
    top: -8% !important;
  }
}
/* Nexus 6P */
@media screen and (width: 435px) {
  .localizacaoTexto {
    top: -8% !important;
  }
}
/* Nexus 7 */
@media screen and (min-width: 600px) {
  .localizacaoTexto {
    top: -8% !important;
    font-size: 25px !important;
  }
}
/* Nexus 10 */
@media screen and (min-width: 768px) {
  .localizacaoTexto {
    font-size: 33px !important;
    top: -5% !important;
    left: 22% !important;
  }
}
.botaoSearchContent {
  position: absolute;
  height: 100%;
  width: 10%;
  left: 90%;
}
#botaoSearch {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
}
#lupa {
  position: absolute;
  height: 55%;
  width: 100%;
  top: 40%;
}
/** ------------ Cabeçalho da telaPrincipal-FIM--------------- **/


/** ------------ Imagem Principal da telaPrincipal------------ **/
.imagemDaPaginaContent {
  position: absolute;
  width: 100%;
  height: 30%;
  top: 10%;
}
#imagemDaPagina {
  width: 100%;
  height: 100%;
}
/** ------------ Imagem Principal da telaPrincipal-FIM-------- **/


/** ------------ Título da telaPrincipal---------------------- **/
.tituloContent {
  position: absolute;
  width: 100%;
  height: 10%;
  top: 40%;
  left: 2%;
  color: rgb(224, 139, 0);
}
/* Galaxy S5, noteS3, Note II, SIII, Nexus 5, Nokia N9 */
@media screen and (width: 360px) {
  .tituloContent {
    font-size: 20px;
  }
}
/* Iphone 6 */
@media screen and (width: 375px) {
  .tituloContent {
    font-size: 20px;
  }
}
/* LG Optimus L70, Nexus 4*/
@media screen and (width: 384px) {
  .tituloContent {
    font-size: 20px;
  }
}
/* Nexus 6 */
@media screen and (width: 412px) {
  .tituloContent {
    font-size: 22px;
  }
}
/* Iphone 6 plus */
@media screen and (width: 414px) {
  .tituloContent {
    font-size: 22px;
  }
}
/* Nexus 6P */
@media screen and (width: 435px) {
  .tituloContent {
    font-size: 22px;
  }
}
/* Nexus 7 */
@media screen and (min-width: 600px) {
  .tituloContent {
    font-size: 25px !important;
  }
}
/* Nexus 10 */
@media screen and (min-width: 768px) {
  .tituloContent {
    font-size: 35px;
  }
}
/** ------------ Título da telaPrincipal-FIM------------------ **/


/** ------------ Logotipo da telaPrincipal-------------------- **/
.logoContent {
  position: absolute;
  width: 20%;
  height: 10%;
  top: 35%;
  left: 70%;
  background-color: #FFF;
  border-radius: 100%;
}
#logo {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
/** ------------ Logotipo da telaPrincipal-FIM---------------- **/


/** ------------ Seção descrição e botões da telaPrincipal---- **/
.secao {
  position: absolute;
  width: 100%;
  height: 25%;
  top: 50%;
  background-color: #FFF;
}
.botoesSecaoContent {
  position: absolute;
  width: 100%;
  height: 30%;
}
.botaoDaSecao {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}
.imagensBotoesSecao{
  position: absolute;
  width: 100%;
  height: 100%;
}
#botaoLigar {
  position: absolute;
  width: 20%;
  height: 100%;
}
#botaoServicos {
  position: absolute;
  width: 20%;
  height: 100%;
  left: 20%;
}
#botaoEndereco {
  position: absolute;
  width: 20%;
  height: 100%;
  left: 40%;
}
#botaoComentarios {
  position: absolute;
  width: 20%;
  height: 100%;
  left: 60%;
}
#botaoFavoritos {
  position: absolute;
  width: 20%;
  height: 100%;
  left: 80%;
}
.textoSecaoContent {
  position: absolute;
  width: 100%;
  height: 70%;
  top: 30%;
  font-size: 13px;
  color: rgb(224, 139, 0);
  text-align: justify;
}
/* IPHONE 5, 4, Nokia Lumia 520 */
@media screen and (width: 320px) {
  .textoSecaoContent {
    font-size: 11px;
  }
}
/* Galaxy S5, note3, Note II, SIII, Nexus 5, Nokia N9 */
@media screen and (width: 360px) {
  .textoSecaoContent {
    font-size: 13px;
  }
}
/* Nexus 6 */
@media screen and (width: 412px) {
  .textoSecaoContent {
    font-size: 15px;
  }
}
/* Iphone 6 plus */
@media screen and (width: 414px) {
  .textoSecaoContent {
    font-size: 15px;
  }
}
/* Nexus 6P */
@media screen and (width: 435px) {
  .textoSecaoContent {
    font-size: 15px;
  }
}
/* Nexus 7 */
@media screen and (min-width: 600px) {
  .textoSecaoContent {
    font-size: 19px !important;
  }
}
/* Nexus 10 */
@media screen and (min-width: 768px) {
  .textoSecaoContent {
    font-size: 25px;
  }
}
#textoDaSecao {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
}
/** ------------ Seção descrição e botões da telaPrincipal-FIM **/


/** ------------ PopUp Endereço da telaPrincipal-------------- **/
.popUpServicos {
  position: absolute;
  width: 80%;
  height: 40%;
  top: 40%;
  left: 10%;
  border-radius: 12px;
  background-color: rgba(242, 242, 242, 1);
  z-index: 5;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}
#enderecoTexto {
  position: absolute;
  width: 100%;
  height: 70%;
  top: 30%;
  left: 0%;
  text-align: center;
  font-weight: bold;
  color: rgb(224, 139, 0);
  border-radius: 12px;
}
#enderecoButton {
  position: absolute;
  height: 10%;
  width: 10%;
  left: 90%;
  color: #FFF;
  border-radius: 100%;
  border: 0px;
  font-weight: bold;
  background-color: rgb(224, 139, 0);
}
/** ------------ PopUp Endereço da telaPrincipal-FIM---------- **/


/** ------------ Comentários da telaPrincipal----------------- **/
.comentariosContent {
  position: absolute;
  width: 100%;
  top: 95%;
  height: auto;
  background-color: #FFF;
}
.comentario {
  position: relative;
  width: 99%;
  height: 125px;
  margin-top: 2%;
  color: rgb(224, 139, 0);
  border: solid 1px grey;
  border-radius: 12px;
}
/* Nexus 7 */
@media screen and (min-width: 600px) {
  #conteudoComentario {
    font-size: 17px !important;
  }
  #fotoUsuario {
    height: 55% !important;
    max-height: 55% !important;
  }
}
/* Nexus 10 */
@media screen and (min-width: 768px) {
  .comentario {
    height: 200px;
  }
  #nomeUsuario {
    font-size: 25px !important;
  }
  #fotoUsuario {
    height: 55% !important;
    max-height: 55% !important;
  }
  #tituloComentario {
    font-size: 25px !important;
  }
  #conteudoComentario {
    top: 45% !important;
    left: 0.5% !important;
    font-size: 23px !important;
  }

}
#fotoUsuario {
  position: absolute;
  width: 18%;
  min-width: 18%;
  max-width: 18%;
  height: 45%;
  min-height: 45%;
  max-height: 45%;
  left: 2%;
  top: 1%;
  border-radius: 100%;
}
#nomeUsuario {
  position: absolute;
  width: 75%;
  height: 15%;
  left: 25%;
  top: 1%;
  font-size: 12px;
}
#tituloComentario {
  position: absolute;
  height: 25%;
  width: 40%;
  left: 25%;
  top: 16%;
  font-size: 15px;
  font-weight: bold;
}
#estrelas {
  position:  absolute;
  height: 18%;
  width: 29%;
  left: 70%;
  top: 20%;
  font-size: 12px;
}
#conteudoComentario {
  position: absolute;
  width: 99%;
  height: 45%;
  top: 38%;
  left: 0.5%;
  font-size: 12px;
  text-align: justify;
}
/** ------------ Comentários da telaPrincipal-FIM------------- **/

/** =============================TELAPRINCIPAL=END========================== **/


/** ==========================ANIMATIONS==================================== **/
@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}


@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}
/** ==========================ANIMATIONS=END================================ **/
